<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">

              <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" id="loginform" (ngSubmit)="ingresar( f )">
                <div class="form-group">
                    <a class="text-center db"><img src="../assets/images/logo-icon.png" alt="Home" /><br/><img src="../assets/images/logo-text.png" alt="Home" /></a>
                  <div class="col-xs-12 text-center">
                    <!--<div class="user-thumb text-center"> <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/1.jpg">
                      <br>
                      <h3 name="email" >{{ email }}</h3>
                    </div>-->
                    <br>
                    <h3 name="email" >{{ email }}</h3>
                  </div>
                </div>
                <div class="form-group ">
                  <div class="col-xs-12">
                    <input ngModel name="password" class="form-control" type="password" required placeholder="Contraseña">
                  </div>
                </div>
                <div class="form-group text-center">
                  <div class="col-xs-12">
                    <button class="btn btn-primary btn-lg btn-block text-uppercase btn-rounded" type="submit">Inicia sesión</button>
                  </div>
                </div>
                <div class="form-group text-center">
                  <div class="col-xs-12">
                    <br>
                    <a (click)="borrarEmail()" class=" text-dark" style="cursor: pointer;"> Iniciar sesión con otra cuenta</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
</section>
