<div class="row">
  <div class="col-12">
      <div class="row">
          <div class="col-xl-3 col-md-6">
              <div class="card">
                  <img class="card-img-top img-responsive" center center src="assets/images/inicio/img1.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Mis autos</h4>
                      <p class="card-text">¡Monitorea, visualiza y controla tus autos en tiempo real!</p>
                      <a [routerLink]="['/mis-autos']" class="btn btn-block btn-primary">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-md-6">
              <div class="card">
                  <img class="card-img-top img-responsive" center center src="assets/images/inicio/img2.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Ayuda</h4>
                      <p class="card-text">¿Alguna duda? Lee nuestro manual o comunícate con un experto.</p>
                      <a [routerLink]="['/ayuda']" class="sticky btn btn-block btn-primary">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-md-6">
              <div class="card">
                  <img class="card-img-top img-responsive" src="assets/images/inicio/img3.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Cuenta</h4>
                      <p class="card-text">Configura, actualiza o maneja tu cuenta.</p>
                      <a [routerLink]="['/mi-cuenta']" class="btn btn-block btn-primary">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-md-6 img-responsive">
              <div class="card">
                  <img class="card-img-top img-responsive" src="assets/images/inicio/img4.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">Configuración</h4>
                      <p class="card-text">Configura,  la plataforma.</p>
                      <a [routerLink]="['/config']" class="btn btn-block btn-primary">Ir</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
