/*@media only screen and (min-width:992px) {
    .card-body{
        height: 226px!important;
    }
}
@media only screen and (min-width:1410px) {
    .card-body{
        height: 202px!important;
    }
}
@media only screen and (min-width:1410px) {
    .card-body{
        height: 178px!important;
    }
}*/
