<div id="main-wrapper" >

    <ap-navigation></ap-navigation>
    <aside class="left-sidebar">
        <div class="scroll-sidebar" [perfectScrollbar]="config">
            <ap-sidebar></ap-sidebar>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <breadcrumb></breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
    <footer class="footer" style="font-size: 14px;">
        © 2018 Sistema de medición y control de un vehiculo automotor.
    </footer>
</div>
